@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Karla:wght@300&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Georgian&family=Work+Sans&display=swap');
body {

    background-color: #fbe8a6;
    background-image: url('img/wavey-fingerprint.svg');

}

/* Header */

header nav.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Alumni Sans Inline One', cursive;

}

header nav img.logo {

    width: 70px;
    margin-left: 20px;
    border-radius: 50%;
    padding: 10px;

}

header nav div.league {

    display: flex;
    flex-direction: row;
    align-items: center;

}

header nav div.league span.league-name {

    font-size: 32px;

}

header nav ul.nav-items {

    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 500px) {

    header nav ul.nav-items {

        display: none;

    }

}

header nav ul.nav-items > li {

    list-style-type: none;
    padding: 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: #303c6c;

}

header nav ul.nav-items > li > a {

    text-decoration: none;
    color: #303c6c;

}

header nav ul.nav-items > li > a:hover {

    color:indianred;

}

header nav ul > li > a:visited {

    color:#303c6c;

}

/* End header */

/* Main content */

div.player-table {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Georgian', sans-serif;
    font-weight: 500;
}

div.player-table > form {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 20px;
}

div.player-table > form > label {
    margin-right: 10px;
}

div.player-table > div.player-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: calc(5px + 1.8vw);
    word-wrap: break-word;
    vertical-align: middle;
    border-top: 1px solid rgb(66, 64, 64);
    border-left: 1px solid rgb(66, 64, 64);
    border-right: 1px solid rgb(66, 64, 64);
}

div.player-table > div.player-row > div {
    border: 1px solid black;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    height: calc(10px + 2.9vw);
    line-height: calc(10px + 2.9vw);
}

div.player-table > div.header-row > div {
    cursor: pointer;
    font-weight: 600;
}

div.player-table > div.player-row > div.player-name:nth-child(1) {
    width: 25%;
    text-align: left;
    padding-left: 2px;
}

div.player-table > div.player-row > div.player-team:nth-child(2) {
    width: 25%;
}

div.player-table > div.player-row > div.player-role:nth-child(3) {
    width: 20%;
}

div.player-table > div.player-row > div.player-price:nth-child(4) {
    width: 15%;
}

div.player-table > div.player-row > div.player-payed-price:nth-child(5) {
    width: 15%;
}


div.player-table > div.player-row > div.player-role > span {
    border-radius: 50%;
    padding: 3px;
    display: inline-block;
    border: 2px solid white;
    width: calc(7px + 2vw);
    height: calc(7px + 2vw);
    line-height: calc(7px + 2vw);
    color: white;
    font-size: calc(4px + 1vw);
}

div.player-table > div.player-row > div.player-role.double-role > span {
    margin-left: -3px;
    margin-right: -3px;
}

div.player-table > div.player-row > div.player-role.triple-role > span {
    margin-left: -4px;
    margin-right: -4px;
}

div.player-table > div.player-row > div.player-role > span.player-role-goalkeeper {
    background-color: rgb(209, 133, 34);
}

div.player-table > div.player-row > div.player-role > span.player-role-defender {
    background-color: rgb(11, 175, 11);
}

div.player-table > div.player-row > div.player-role > span.player-role-midfielder {
    background-color: rgb(63, 63, 241);
}

div.player-table > div.player-row > div.player-role > span.player-role-wing {
    background-color: purple;
}

div.player-table > div.player-row > div.player-role > span.player-role-forward {
    background-color: rgb(224, 16, 16);
}

/* End main content */